/* ----------------------------------------------------------------------------------       clase general             -----------------------------------------------*/
a{
    font-weight: bold !important;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(102, 134, 156) !important;
    font-size: 1.3em !important;
    transition: .5s;
}
.body__fondoSecundario--BgColor{
    background: linear-gradient(to right, #b0aa9a, #000);
}
.navColor{
    background: linear-gradient(to right, #f8f7f4, #f8f9fa);
}
.itemColor{
    color: #f8f7f4;
}
/*s*/
/* -----------------------------------------------------------------------------------      index           ----------------------- ----------------------------------------------*/
@media(min-width: 780px){
    /* ----------------------------------------------------------------------------------------      pagina index  ------------------------------------------------------ */
    header div.header__CardLogo--ColorFondo{
        height: 100vh;
        background-image: url("../img/carpint.jpg");
        background-size: cover;
    }
    header div.header__CardLogo--Title{
        background: linear-gradient(to right, #8B866f, #FCD9B8);
        margin-top: 2%;
        margin-left: 7%;
        width: 100px;
        height: 150px;
        border-radius: 0.3em;
    }
    header div.header__CardLogo--Title span{
        font-size: 3em;
        height: 60px;
        width: 80px;
        color: rgb(17, 15, 15);
        font-family: 'Baskervville', serif;
    }
    header div.header__CardLogo--SubTitle{
        width: 100px;
        height: 150px;
        margin-top: 2%;
        margin-left: 2%;
        color: #055160;
        font-family: 'Lobster', cursive;
    } 
    section span{
        font-family: 'Lobster', cursive;
        font-size: 2em;
        margin-top: 8%;
        color: rgb(185, 179, 179);
    }
    /* ----------------------------------------------------------------------------------------      pagina ubicacion  ------------------------------------------------------ */
    section div iframe{
        border-radius: .8em;
    }
    /* ----------------------------------------------------------------------------------------      Galeria  ------------------------------------------------------ */
    /* carrusel */
    .carousel__imgnormalizada img {
        width: 100% !important;
        height: 600px !important;
        object-fit: contain;
        /* max-height: 225px !important; */
    } 
    .section__Carousel--MargenTop{
        margin-top: 50px;
   }
    /* ----------------------------------------------------------------------------------------      Contactanos  ------------------------------------------------------ */
    section div i{
        font-size: 2em;
        color: white;
    }
    .contactanos__AlinearItem--JustifyContentEnd{
         justify-content: end;
    }
    .contactanos__AlinearItem--JustifyContentCenter{
          justify-content: center;
    }
    .contactanos__AlinearItem--JustifyContentStart{
          justify-content: start;
    }
    .section__CardDirecciones--MargenTop{
        margin-top: 120px;
    }
    .footer__From--MargenTop70{
        margin-top: 70px;
    }  
    /* ----------------------------------------------------------------------------------------      ¿Quienes Somos?  ------------------------------------------------------ */
    .section__CardImg--MargenTop{
        margin-top: 80px;
    }
    .section__CardImg--ocontaint{
        object-fit: cover !important;
    }
}

@media(max-width: 780px){
      /* ----------------------------------------------------------------------------------------      pagina index------------------------------------------------------ */
    .marcas__Img--Size{
       height: 150px !important;
    } 
    header div.header__CardLogo--Title{
        background: linear-gradient(to right, #8B866f, #FCD9B8);
        margin-top: 2%;
        margin-left: 7%;
        width: 100px;
        height: 150px;
        border-radius: 0.3em;
    }
    header div.header__CardLogo--Title span{
        font-size: 3em;
        height: 60px;
        width: 80px;
        color: rgb(17, 15, 15);
        font-family: 'Baskervville', serif;
    }
    header div.header__CardLogo--SubTitle{
        width: 100px;
        height: 150px;
        margin-top: 2%;
        margin-left: 2%;
        color: #055160;
        font-family: 'Lobster', cursive;
    } 
    section span{
        font-family: 'Lobster', cursive;
        font-size: 2em;
        margin-top: 8%;
        color: rgb(185, 179, 179);
    }
    .footer__RedesSociales--Margen{
        margin: 10px;
    }
    /* ----------------------------------------------------------------------------------------      pagina ubicacion  ------------------------------------------------------ */
    section div iframe{
        border-radius: .8em;
    }
    /* ----------------------------------------------------------------------------------------      Contactanos  ------------------------------------------------------ */
    section div i{
        font-size: 1.5em;
        color: white;
    }
    .footer__From--MargenTop70{
        margin-top: 70px;
    }
    .contactanos__AlinearItem--JustifyContentStartMobie{
        justify-content: start !important;
  }
    .section__CardDirecciones--MargenTop{
        margin-top: 30px;
    }
     /* ----------------------------------------------------------------------------------------      Galleria  ------------------------------------------------------ */
    .carousel__imgnormalizada img {
        width: 100% !important;
        height: 600px !important;
        object-fit: contain;
        /* max-height: 225px !important; */
    } 
    .section__Carousel--MargenTopMobie{
         margin-top: 5px;
    }
     /* ----------------------------------------------------------------------------------------      ¿Quienes Somos?  ------------------------------------------------------ */
    .section__CardImg--MargenTopMobie{
        margin-top: 30px;
    }
    .contactanos__AlinearItem--JustifyContentCenterMobie{
        justify-content: center;
    }

}